<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
    <head>
        <title>PiCam</title>
        <style type="text/css">
            .style1
            {
                width: 50%;
            }
        </style>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script language="javascript" type="text/javascript">
            function Button_onclick(direction) {
                $.ajax({ url: '/' + direction });
            }
        </script>
 <!--       <script language="javascript" type="text/javascript">
            function Button_onclick2(cardirection) {
                $.ajax({ url: '/' + cardirection });
            }
        </script>-->
    </head>
    <body>

        <table align="center" class="style1">
           <tr>
                <td colspan="2" style="text-align: center">
					<img src="http://192.168.0.13:10088/?action=stream"/>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center">
                    <input id="btnUp" type="button" value="Up" onclick="Button_onclick('up')" />
                </td>
            </tr>
            <tr>
                <td style="text-align: center">
                    <input id="btnLeft" type="button" value="Left" onclick="Button_onclick('camleft')" />
                </td>
                <td style="text-align: center">
                    <input id="btnRight" type="button" value="Right" onclick="Button_onclick('camright')" />
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center">
                    <input id="btnDown" type="button" value="Down" onclick="Button_onclick('down')" />
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center">
                    <input id="home" type="button" value="home" onclick="Button_onclick('camhome')" />
                </td>
            </tr>
        </table>
    </body>
</html>
        <table align="center" class="style1">
            <tr>
                <td colspan="2" style="text-align: center">
                    <input id="forward" type="button" value="Forward" onclick="Button_onclick('forward')" />
                </td>
            </tr>
            <tr>
                <td style="text-align: center">
                    <input id="left" type="button" value="Left" onclick="Button_onclick('left')" />
                </td>
                <td style="text-align: center">
                    <input id="right" type="button" value="Right" onclick="Button_onclick('right')" />
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center">
                    <input id="backward" type="button" value="Backward" onclick="Button_onclick('backward')" />
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center">
                    <input id="stop" type="button" value="Stop" onclick="Button_onclick('stop')" />
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center">
                    <input id="home2" type="button" value="Home" onclick="Button_onclick('home')" />
                </td>
            </tr>
        </table>
